{% extends "base.html" %}

{% block content %}

<h2>Proposal List</h2>

<div class="panel panel-default">
   <table class="table">
       <thead>
           <tr>
               <th>Dealer</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Status</th>
               <th>Amount</th>
           </tr>
       </thead>
       <thbody>
           {% for proposal in proposals %}
           <tr>
               <td><a href="{%url 'proposal_details' proposal.id %}">{{proposal.dealer.username}}</a> </td>
               <td>{{proposal.customer.first_name}}</td>
               <td>{{proposal.customer.last_name}}</td>
               <td>{{proposal.status.status}}</td>
               <td>{{proposal.amount}}</td>
          </tr>
           {% endfor %}
       </thbody>
   </table>
</div>


{% endblock %}
