@import 'bootstrap';

body {
    background-color: lightgreen;
}

th {
    background-color: lightgrey;
    text-align: center;
    font-weight: bold;
    color: green;
}

td {
    background-color: lightyellow;
    font-style: italic;
    color: purple;
}

.container-fluid {
    background-color: lightblue;

}

h2 {
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    text-decoration: underline;
    font-weight: bold;
}

ul.nav.navbar-nav li a {
    color: purple;
}

 div.navbar-header a.navbar-brand{
    color: purple;
}
